@font-face {
  font-family: Poiret One; src: url('fonts/PoiretOne.TTF');
  font-family: Freestyle Script; src: url('fonts/FreeScript.TTF');
}
body {
    font-size: 100%;
}

#nav img{
  width: 15%;
  padding-left: 4%;
  padding-top: 1%;
}
.container {
  background-color: white;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#nav ul {
  list-style-type: none;
  padding-top: 1%;
  overflow: hidden;
  float: right;
  margin-right: 3%;
}

.nav {
  display: inline;
}

.nav a {
  font-size: 1.25rem;
  color: #1A385D;
  text-align: right;
  padding: 16px;
  font-family: Poiret One;
  text-decoration: none;
  font-weight: bolder;
}

.nav a:hover {
  font-weight: 900;
  color: #ffd3ca;
}

#title {
  margin-top: 12.5%;
}

#title h1 {
  font-size: 3rem;
  font-family: Freestyle Script;
  text-align: center;
  color: #1A385D;
}

h2 {
  font-family: Poiret One;
  font-size: 2rem;
  text-align: center;
  margin-top: 5%;
  text-decoration: none;
}

.img{

  margin-bottom: 10%;
}

.img ul {
  list-style-type: none;
  display: flex;
}

.img li {
  margin-right: 10%;
  margin-left: 10%;
  width: 30%;
}

.img img {
  width: 150%;
}

.img img:hover {
  border: 1px #5B82AA solid;
}

figcaption a {
  text-decoration: none;
  color: black;
  font-family: Poiret One;
  font-size: 1.25rem;
  font-weight: bold;
}

.more {
  text-align: right;
  margin-right: 5%;
}

.more a {
  font-family: Poiret One;
  font-size: 1.25rem;
  font-weight: 900;
  color: black;
}

.icon {
  list-style-type: none;
  display: inline;
  margin-right: 2%;
}

.icon img {
  width: 2.5%;
}
#pershop, #skillshop {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
